<header>
  <nav class="navbar navbar-expand-md bg-black navbar-dark justify-content-begin">
    <div class="container-fluid">

      <a class="navbar-brand" style="font-size: 40px; font-weight: bold; color: white;" href="#">Фильмотека</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="navbar-nav" style="font-size: 30px;">
        <li class="nav-item">
          <a class="nav-link" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/actors">Актёры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/directors">Режиссёры</a>
        </li>
      </ul>

    </div>
  </nav>
</header>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>


<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">&copy; 2024 Моя фильмотека. Приглашаю пить пиво.</span>
  </div>
</footer>